<div class="container min-vh-100 d-flex flex-column">
    <h1 class="mt-3 text-center">Ascii Picasso</h1>
    
    <!-- Main content -->
    <div class="mt-5">

        <div class="row g-3 w-100">
            <div class="col-12">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" accept="application/pdf">
                </div>
            </div>
            <div class="col-12">
                <button disabled id="cbtn" class="btn btn-primary mx-auto d-block">
                    <span id="l-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    Convert PDF
                </button>
            </div>
            <div id="link-view" class="col-12 d-flex justify-content-center pt-3">
            </div>
        </div>

    </div>
</div>